.orders {
  padding: 20px;
  margin: 0 20px;
}

.orders h1 {
  font-weight: 400;
  border-bottom: 1px solid lightgray;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.orders-container {
  display: flex;
  flex-direction: column;
}
